*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p {
  text-align: justify!important;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #444;
  background-color: #f9f9f9;  }

/*;;;;;;;;;;;;;;;;;;;;;
  ;;;   SIDEBAR     ;;;
  ;;;;;;;;;;;;;;;;;;;;;*/
.dedie-tab-sidebar {
  width: 20%;
  height: 100%;
  padding: 1px;
  border-right: 1px solid #ddd;
  background-color: #f5f5f5;
  box-shadow: 2px 3px 8px 1px #C9C9C9;
  border-bottom-right-radius: 2vw;  }

.dedie-tab-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;  }

.dedie-tab-sidebar li {    
  color: #303131;
  border-bottom: solid 1px #582A72 ;  }

.dedie-tab-sidebar a {
  display: flex;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease;
  align-items: center; }

.dedie-tab-sidebar > ul > li > a > img{
  max-width: 30px; 
  padding: 2px;
  padding-right: 5px;  }

.dedie-tab-sidebar > ul > li > ul > li > a > img{
  max-width: 30px; 
  padding: 2px;
  padding-right: 5px;  }

.dedie-tab-sidebar li.active{  
  background-color: #757099!important;
  color: #fff!important;
  border-color: #757099!important;  }

.dedie-tab-sidebar li:hover {  
  background-color: #46477F!important;
  color: #fff!important;
  border-color: #46477F!important;  }

.dedie-tab-sidebar a:hover { color:#fff; background: #46477F;}

@media only screen and (max-width: 768px) {
    .dedie-tab-sidebar li {   display:none; }

    .dedie-tab-sidebar {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;  }
  }

/*;;;;;;;;;;;;;;;;;;;;;;
  ;;;   DROPDOWN     ;;;
  ;;;;;;;;;;;;;;;;;;;;;; */
.dedie-dropdown {
  display: none;
  background-color: #f9f9f9;
  padding: 5px;
  z-index: 1;   }

.dedie-dropdown.show {    display: block;   }

.dedie-dropdown{  background-color: #E6E6E6;  }

.dedie-dropdown li {  
  color: #163552;
  border-bottom: solid 1px #582A72 ;  }

.dedie-dropdown a {
  text-decoration: none;
  color: inherit;  }

.dedie-dropdown a:hover {
  background-color: #46477F ;
  color: #fff;  }


.dedie-dropdown-img img{
  max-width: 30px;
  padding-left: 5px;
  animation: .9s updown infinite ;  }

.dedie-dropdown-img .default-icon {    display: inline-block;  }

.dedie-tab-sidebar li.active .default-icon, .dedie-tab-sidebar li:hover .default-icon {    display: none;  }

.dedie-dropdown-img .hover-icon {    display: none;  }

.dedie-tab-sidebar li.active .hover-icon, .dedie-tab-sidebar li:hover .hover-icon {    
  display: inline-block;
  animation: none;    }


/*;;;;;;;;;;;;;;;;;;;;;;;;;;;;
  ;;;   CONTENIDO TABS     ;;;
  ;;;;;;;;;;;;;;;;;;;;;;;;;;;; */
.dedie-content-container {
  background: #FBFDFE;
  margin: 10px;
  box-shadow: 0px 8px 8px #C1BDC2;
  border-bottom-right-radius: 19px;
  color: #444;  }

.dedie-tab-content >  p{
  margin-left: 20px;
  margin-right: 20px;  }

.dedie-container {
  display: flex;
  flex-direction: row;  }

.dedie-tab-content {
  display: none;
  padding: 15px;
  border-top: 1px solid #ddd; }

.dedie-tab-content.active { display: block;  }


  @media only screen and (max-width: 768px) {
      .dedie-container {
          display: flex !important;
          flex-direction: column!important;
          align-items: center !important;    }

      .dedie-tab-content {  padding: 10px;}
      .dedie-content-container{margin: 5px;}
  }


/*;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
  ;;;   CONTENIDO CONTENEDOR     ;;;
  ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; */
.dedie-marco-content{
  width: 80%;
  background-color: #FBFDFE;  }

  @media only screen and (max-width: 768px) {
      .dedie-marco-content{width: 100% !important;}
  }



/*;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
  ;;;   BOTONES CAMBIO TABS     ;;;
  ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; */
.dedie-nav-buttons ,.dedie-prev-button, .dedie-next-button {    display:none;   } 

  @media only screen and (max-width: 768px) {
    .dedie-nav-buttons {
      display: flex;
      justify-content: space-between; 
      gap: 10px;
      width: 85%;  }
    .dedie-nav-buttons button {
      display: block;
      padding: 5px;
      flex: 1; 
      border-radius: 3px;
      background-color: #9ADFE4;
      color: #fff;
      margin: 10px;
      border: none;
      font-size: 16px;
      cursor: pointer;  }
    .dedie-prev-button.hide, .dedie-next-button.hide {  display: none; }
    .dedie-prev-button:hover, .dedie-next-button:hover {  background-color: #F79269;    }
  }


/*  ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
    ;;;             RECURSOS            ;;;
    ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; */

/*  -----------------------------------------
              ANIMACION ROTACION 360
  ----------------------------------------- */
  #rotating-table {
  animation: rotate-table-y 1s linear;
  transform-origin: center;
  animation-fill-mode: forwards;   }

  @keyframes rotate-table-y {
    0% {    transform: rotateY(0deg);  }
    100% {    transform: rotateY(360deg);  }
  }

/*  -----------------------------------------
              ANIMACION LATIDO
  ----------------------------------------- */
@keyframes dem-breathing {
  0% {    transform: scale(1);  }
  50% {    transform: scale(1.06);   }
  100% {    transform: scale(1);  }
}

/*  -----------------------------------------
              ANIMACION UPDOWN
  ----------------------------------------- */
  @keyframes updown {
    0% {    transform: translateY(0);  }
    50%{    transform: translateY(2px);  }
    100% {  transform: translateY(0);  }
  }

/*  -----------------------------------------
              BANNER CURSO IMAGEN     
  ----------------------------------------- */
.dedie-bann-sect {
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 6vw;
    margin-bottom: 10px;
    background-image: url('../img/bannerUnidad.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: fadeInLeft;
    animation-duration: .65s;  }

/*  -----------------------------------------
            SECCION CON BANNER GENERICO  
    ----------------------------------------- */
.dedie-ind_sect {
  padding: 25px;
  margin-bottom: 10px;
  color: #fff;
  background-image: url('../img/bannerseccion.png');
  border-top-left-radius: .5vw;
  border-top-right-radius: .5vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: pulse .85s ease-out forwards;    }

.dedie-ind_sect h2{
  display: block;
  color:#123452;
  font-weight: bold;  }

  @media (max-width: 600px) {
    .dedie-ind_sect {background-position: left; }
  }

/*  -----------------------------------------
                IFRAME EMBEBER     
    ----------------------------------------- */
.embed-responsive { 
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }

.guia-dedie{ 
/*  height: 100%;*/
  height: 315px;    }

  @media only screen and (max-width: 768px) {  
    .guia-dedie{ height: auto!important;  }
    }


/*--------------------------------------------------------------
              # SECCION !IMPORTANTE
--------------------------------------------------------------*/
.seccion_import{
  flex-wrap: wrap; 
  justify-content: space-around; 
  align-items: center; 
  display: flex;
  gap: 25px;
  padding: 20px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row; }

.item_import {
  background-color: #FCFCFC;
  text-align: center;
  display: flex;
  box-shadow: 0 4px 8px 0 rgb(181, 101, 29, 0.2), 0 6px 20px 0 rgb(100, 62, 136, 0.4);
  padding: 3vw;
  flex: 1;
  flex-direction: column;
  align-items: center;    }


.titulo {
  width: 100%;
  font-size: 18px;
  background-color: #757099;
  border-radius: 8px;
  color: white;
  margin-bottom: 13px;
  font-weight: bold; }

  @media only screen and (max-width: 768px) {     
    .seccion_import{
      flex-direction: column;}

    .item_import{
      margin-bottom: 3vw; }
    
    .titulo{
    font-size: medium;  }
  }

/*--------------------------------------------------------------
              # SECCION ACTIVIDADES
--------------------------------------------------------------*/
.seccion_act{
  display: flex;
  flex-direction: row;
  gap: 35px;
  justify-content: center;  }

.sec_1 >p, .sec_2 >p, .sec_3 >p{  text-align: center!important;  }

.titulo-act{
  background-color: #46477F;
  border-radius: 8px;
  color: white;
  padding: 3px;
  margin-bottom: 8px;
  font-weight: bold;
  padding-left: inherit;
  padding-right: inherit; }

.sec_1, .sec_2, .sec_3{
  background-color: #FCFCFC;
  box-shadow: -1px 13px 15px 0 rgba(162,131,178, 0.4), -1px 11px 0px 0 rgba(162,131,178, 0.1);
  padding: 25px;
  padding-top: 25px;
  max-width: 38vw;
  flex: 1; 
  text-align: center; }

  @media only screen and  (min-width: 768px) {
    .seccion_act {
      flex-direction: row;
      flex-wrap: wrap;  }

    .sec_1, .sec_2 {
      order: 1;     }

    .sec_3 {
      order: 3; 
      width: 100%;     }
  }

  @media only screen and (max-width: 768px) {     
    .seccion_act{
        flex-direction: column;  }

    .sec_1, .sec_2, .sec_3{
     max-width: 100%;
     padding: 5vw; }
  }


/*--------------------------------------------------------------
# IMAGENES CAMBIANTES V2
--------------------------------------------------------------*/
.image-container {
  position: relative;
  width: 300px;  }

.image-container img {
  animation: dem-breathing 2s infinite;
  width: 100%;
  display: block;
  transition: opacity 0.5s ease;  }

.image-container .second-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;  }

.image-container:hover .second-image {  opacity: 1;  }

@media (max-width: 600px) {
  .image-container {
    max-width: 100%;
  }

  .image-container img {
    height: auto;
  }

  .image-container .second-image {
    height: auto;
    object-fit: cover;
    left: auto;
  }
}

/*--------------------------------------------------------------
    SEPARADOR DE CONTENIDO PARA LA UNIDAD
--------------------------------------------------------------*/
.separador{
  background-color: #163552;
  padding: 2px;    }


/*--------------------------------------------------------------
  # BACK TO TOP
--------------------------------------------------------------*/
#back-to-top-curso {
  position: fixed;
  right: 140px;
  bottom: 20px;
  z-index: 1;
  display: none;
  padding: 8px 12px;
  background-color: #0E3C61;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

#back-to-top-curso:hover {
  background-color: #5583B6;
}

@media screen and (max-width: 768px) {
  #back-to-top-curso {
    right: 10px;
    bottom: 10px;
    display: block; 
  }
}

/*--------------------------------------------------------------
              # TITULOS GENERAL
--------------------------------------------------------------*/
.dedie-titulo_text {
  display: flex;
  align-items: center;
  justify-content: center;  }

.dedie-titulo_text img {
  max-width: 30px;
  margin-right: 5px;  }

.dedie-titulo_text > h1,
.dedie-titulo_text > h2,
.dedie-titulo_text > h5 {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 0px;  }

/*--------------------------------------------------------------
              # SECCION TEXTO IMPORTANTE
--------------------------------------------------------------*/
.secc_important_text {
  margin: 1vw;
  margin-right: 4.5vw;
  margin-left: 4vw;
  box-shadow: 0 4px 8px 0 rgb(181, 101, 29, 0.2), 0 6px 20px 0 rgb(0, 166, 188, 0.2);
  background: linear-gradient(0deg, rgba(123, 191, 155, 0.2) 0%, rgba(255, 255, 255, 1) 100%);
  border-radius: 6px;
  border-style: solid;
  border-color: #3E9C8E;  }

.important_text {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin: 1vw;  }

  @media only screen and (max-width: 768px) {
    .secc_important_text, .important_text {
      margin: 2vw;  }

    .secc_important_text, .important_text img {
      margin: 2vw; 
      max-width: 100%; 
      height: auto;   }
  }


/*--------------------------------------------------------------
              # SECCION GREEN TEXT
--------------------------------------------------------------*/
.dedie-texto {  color:inherit; }

.dedie-resaltado {
  background-color: #163552; 
  color: #FFFFFF;
  padding: 5px 10px; 
  border-radius: 30px; 
  margin-right: 5px;
  margin-left: 5px;   }

  /*--------------------------------------------------------------
              # SECCION TEMARIO
--------------------------------------------------------------*/
.temario{
  padding-top: 1.5vw; 
  text-align: justify;
  margin: 0.5vw;  }

.container_temario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }

  @media only screen and (max-width: 768px) {
    .temario {
      font-size: medium; 
    }
  }

.table_curso {
    height: 200px;
    flex-basis: calc(50% - 10px);
    background-color: #ffff;
    margin-bottom: 20px;
    display: flex;
    justify-content: left;
    transition: opacity 1.2s ease-in-out; }

.hidden-curso {
    opacity: 0;
    pointer-events: none;   }

.visible {
    opacity: 1;
    transition: opacity 1.2s ease-in-out; }

.table_curso table {
    width: 100%;
      }

.table_curso  table td {
    padding: 8px; }

.table_curso table th {
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
    background-color: #757099;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: center; }

@media only screen and (max-width: 768px) {   
  .container_temario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column; }
}

/*--------------------------------------------------------------
              # SECCION GLOSARIO
--------------------------------------------------------------*/
.hover-container {
  position: relative;
  display: inline-block;
}

.hover-text {
  visibility: hidden;
  width: 100%; 
  overflow-y: auto;
  background-color: #163552 ;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  word-wrap: break-word; 
  white-space: pre-wrap;   }

.hover-text p{ 
  color: #fff!important;}

.hover-container:hover .hover-text {
  visibility: visible;  }

.glosario {
  display: flex;
  align-items: center;
  border: none;
  margin-left: 10px;
  margin-right: 5px;
  background-color: #F5F5F5;  }

.glosario img {
  max-width: 25px;
  margin: 0;  }

.glosario p {
  margin: 0;  }

@media only screen and (max-width: 768px) {
  .hover-text {
    max-width: 400px;
    bottom: calc(100% + 5px); 
  }
}

/*--------------------------------------------------------------
                    collapse
--------------------------------------------------------------*/
.collapsible-curso {
  background-color: #163552;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  border: none;
  border-radius: 3px;
  text-align: center;
  outline: none;
  font-size: 15px;  }

.active-collapse, .collapsible-curso:hover {
  background-color: #386E85; }

.collapsible-curso img{  max-width: 22px;  }

.content-collapse-curso {
  padding: 20px;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  border: none;
  display: none;
  overflow: hidden;
  text-align: left;
  background-color: #F9F6FC;
  box-shadow: 2px 3px 8px 1px #EAD9FA;      }

.collapsible-curso .default-icon {    
  display: inline-block; 
  animation: .9s updown infinite;  } 

.active-collapse .default-icon, .active-collapse .default-icon {    display: none;  }

.collapsible-curso .hover-icon {    display: none;  }

.active-collapse .hover-icon, .active-collapse .hover-icon {    
  display: inline-block;
  animation: none;    }

 @media (max-width: 600px) {
  .collapsible-curso {
    width: 100%;  }

  .content-collapse-curso {
    width: 100%;  }
  
  }

/*--------------------------------------------------------------
                    DOCENTES SEMBLANZAS
--------------------------------------------------------------*/
.dedie-container-semblanza {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;  }

.profile-dedie {
  background-color: white;
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s;
  text-align: center;   }

.profile-dedie img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  padding: 15px;
  margin: 0 auto;  }

.profile-dedie p {
  text-align: center;  }

.profile-dedie:hover {
  transform: translateY(-10px);  }

.profile-dedie-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;  }

@media (max-width: 900px) {
    .profile-dedie {
        width: 45%;    }

    .profile-dedie img {
      width: 50%;
      height: auto;    }
}

@media (max-width: 600px) {
    .profile-dedie {
        width: 100%;    }

    .profile-dedie img {
      width: 50%;
      height: auto;    }
}

/*--------------------------------------------------------------
              # SECCION TABLAS
--------------------------------------------------------------*/
.container_tablas th {
  text-align: center;
  color: #fff;
  background-color: #F4F1EA; 
  padding-left: 20px;
  padding-right: 20px; }

.container_tablas table {
  border-collapse:collapse;
  border: 1px solid black; }

.container_tablas , .dem-table-responsive {
  animation: fadeInLeft; 
  animation-duration: 0.95s; }

/*--------------------------------------------------------------
    # TABLAS
--------------------------------------------------------------*/
#rotating-table > div > table > thead > tr > th{  text-align: center;  }

.tablas table td tr{  
  text-align: left;
  align-content: center;
  }

.tablas thead{
  background-color: #757099 ;
  color: #fff;  }

.dem-table-responsive{
  word-break: break-word;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;  }

.dem-table-responsive td, 
.dem-table-responsive th, 
.dem-table-responsive tr {
  border: solid 1px #757099;  }

.dem-table-responsive th{
  font-weight: normal;}

.dem-table-responsive a{
  color: #575756; 
  text-decoration: none; 
  animation: dem-breathing 2s infinite;}

.dem-table-responsive a:hover{
  color: #575756; 
  cursor: pointer;}

.table-wrapper-curso {
  width: 100%;
  overflow-x: auto; }

.table-wrapper-curso td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd; }

.table-wrapper-curso td:first-child {
  min-width: 150px;
  max-width: 150px;   }

.table-wrapper-curso td:last-child {
  word-break: break-all;  } 

/*--------------------------------------------------------------
# BOTON DISPLAY INFORMACION
--------------------------------------------------------------*/
.button-container2-dedie {
    display: flex;
    gap: 10px;
    margin: 20px; }

.dedie-info-container {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    justify-content: center;
    align-items: center;  }

.dedie-info-button{
  background-color: #163552;
  border:none;
  padding: 10px;
  color:#fff;
  cursor: pointer;
    border-radius: 8px; }

.dedie-info-button:hover{
  background-color: #386E85;
  border:none;
  padding: 10px;
  color:#fff; }

.dedie-info-content {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    width: 100%; 
    max-width: 800px; }

.close-btn-dedie {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;  }

/*--------------------------------------------------------------
# SUBTEMAS EN COLUMNA 
--------------------------------------------------------------*/
.dedie-container-subtabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;    }

.dedie-button-container-subtabs {
  display: flex;
  flex-direction: column;
  width: 20%;    }

.dedie-toggle-button-subtabs {
  animation: latido-dedie 2s infinite;
  justify-content: space-around;
  background-color: #163552;
  color: white;
  border: solid;
  border-color: #163552;
  padding: 8px 16px;
  margin: 10px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;    }

.dedie-toggle-button-subtabs:hover,
.dedie-active-button-subtabs {
  background-color: #46477F;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  font-weight: bold;    }

.dedie-content-container-subtabs {
  width: 80%;
  padding: 18px;
  border-top: 2px solid #163552;
  background-color: #FCFCFC;
  box-shadow: -1px 13px 15px 0 rgba(162, 131, 178, 0.4);
  margin-top: 10px;    }

.dedie-content-subtabs {    display: none;    }

.dedie-active-content-subtabs {    display: block;    }

.dedie-next-content-subtabs {
  animation: latido-dedie 2s infinite;
  color: #A0A6AC;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  display: block;
  text-align: center;
  margin-top: 20px;    }

.dedie-next-content-subtabs:hover {  color: #8D6184; }

@media only screen and (max-width: 768px) {
    .dedie-container-subtabs {
      flex-direction: column;
      display: flex;
      align-items: center;   }
    .dedie-toggle-button-subtabs{
      margin-top: 0px;    }
    .dedie-button-container-subtabs {
      width: 100%;
      margin: 0px;
      flex-direction: column;
      overflow-x: auto;
      justify-content: space-around;    }
    .dedie-content-container-subtabs {    width: 100%;    }
}
